
ul {
	position: absolute;

}

a {
	text-decoration: none;
	padding: 15px 25px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
}
a:hover{
		color: #000;
    background: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
   text-align: center;
}

html {
  background-image: radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
}	

h1 {
  font-weight: 300;
  margin: 0;
}

.sl {
	position: absolute;
	top: 100px;
	left: 20%;
} 

.menu-tabs {
	   list-style: none;
    display: inline-block;
    text-decoration: none;
}

.menu-tabs:hover {
	background: #ffd200;
	opacity: 0.9;
}

/* Gradient text only on Webkit */
.warning {
  background: -webkit-linear-gradient(45deg, #c97874 10%, #463042 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8c5059;
  font-weight: 400;
  margin: 0 auto 6em;
  max-width: 9em;
}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;
}
.calculator::before, .calculator::after {
  content: " ";
  display: table;
}
.calculator::after {
  clear: both;
}

/* Calculator after dividing by zero */
.broken {
  -webkit-animation: broken 2s;
          animation: broken 2s;
  -webkit-transform: translate3d(0, -2000px, 0);
          transform: translate3d(0, -2000px, 0);
  opacity: 0;
}

.viewer {
  color: #c97874;
  float: left;
  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7.5em;
  height: 3em;
}

.num {
  border: 0;
  background: rgba(42, 50, 113, 0.28);
  color: #6cacc5;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.num:hover {
  background: #201e40;
}
.num:focus {
  outline: 0;
  /* The value fade-ins that appear */
}
.num:focus::after {
  -webkit-animation: zoom 1s;
          animation: zoom 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  content: attr(data-num);
  cursor: default;
  font-size: 100px;
  position: absolute;
  top: 1.5em;
  left: 50%;
  text-align: center;
  margin-left: -24px;
  opacity: 0;
  width: 48px;
}

/* Same as above, modified for operators */
.ops:focus::after {
  content: attr(data-ops);
  margin-left: -210px;
  width: 420px;
}

/* Same as above, modified for result */
.equals:focus::after {
  content: attr(data-result);
  margin-left: -300px;
  width: 600px;
}

/* Reset button */
.reset {
  background: rgba(201, 120, 116, 0.28);
  color: #c97874;
  font-weight: 400;
  margin-left: -77px;
  padding: 0.5em 1em;
  position: absolute;
  top: -20em;
  left: 50%;
  width: auto;
  height: auto;
  /* When button is revealed */
}
.reset:hover {
  background: #c97874;
  color: #100a1c;
}
.reset.show {
  top: 20em;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
}

/* Animations */
/* Values that appear onclick */
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
/* Division by zero animation */
@-webkit-keyframes broken {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  5% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  15% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  70% {
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}
@keyframes broken {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  5% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  15% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  20% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  70% {
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}
/* Reset button fadein */
@-webkit-keyframes fadein {
  0% {
    top: 20em;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    top: 20em;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 420px) {
  .calculator {
    width: 12em;
  }

  .viewer {
    width: 8.5em;
  }

  .num {
    margin: 0.5em;
  }
}


.title {
  position: absolute;
  top: 0;
  font: 36px Arial;
  letter-spacing: 0.1em;
  width: 80vw;
  margin: 6vh 10vw;
  color: rgba(256, 256, 256, 0.5);
}
@media only screen and (min-width: 768px) {
  .title {
    font: 48px Arial;
  }
}

.clock {
  width: 200px;
  height: 200px;
  border: solid 10px #333;
  border-radius: 50%;
  margin: calc(50vh - 100px) calc(50% - 100px);
  position: relative;
  background: rgba(256, 256, 256, 0.25);
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .clock {
    width: 300px;
    height: 300px;
    border: solid 15px #333;
    margin: calc(50vh - 150px) calc(50% - 150px);
  }
}

.dot {
  background: red;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  display: none;
}

.spire {
  position: absolute;
}

.hour {
  top: calc(50% - 37.5px);
  left: calc(50% - 2.5px);
  width: 5px;
  height: 40px;
  border-radius: 0 0 5px 5px;
  background: #333;
  z-index: 4;
  transform-origin: 2.5px 37.5px;
  transition: transform 2s ease;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .hour {
    top: calc(50% - 57.5px);
    left: calc(50% - 2.5px);
    width: 5px;
    height: 60px;
    transform-origin: 2.5px 57.5px;
  }
}

.min {
  top: calc(50% - 67.5px);
  left: calc(50% - 2.5px);
  width: 5px;
  height: 70px;
  border-radius: 0 0 5px 5px;
  background: rgba(167, 139, 131, 1);
  z-index: 3;
  transform-origin: 2.5px 67.5px;
  transition: transform 1s ease;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .min {
    top: calc(50% - 102.5px);
    left: calc(50% - 2.5px);
    width: 5px;
    height: 105px;
    transform-origin: 2.5px 102.5px;
  }
}

.sec {
  top: calc(50% - 78.75px);
  left: calc(50% - 1.25px);
  width: 2.5px;
  height: 80px;
  border-radius: 0 0 2.5px 2.5px;
  background: rgba(231, 76, 60, 1);
  z-index: 2;
  transform-origin: 1.25px 78.75px;
  transition: transform .5s ease;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .sec {
    top: calc(50% - 118.75px);
    left: calc(50% - 1.25px);
    width: 2.5px;
    height: 120px;
    transform-origin: 1.25px 118.75px;
  }
}

.digit {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  font: 42px/200px Arial;
  color: rgba(32, 32, 32, 0.6);
  display: none;
  z-index: -10;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .digit {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    font: 58px/300px Arial;
  }
}
.clock:hover + .digit {
  display: block;
}

footer {
  position: absolute;
  bottom: 3vh;
  font: 16px Arial;
  color: rgba(256, 256, 256, 0.5);
  width: 100vw;
}
footer a {
  color: rgba(51, 51, 51, 0.75);
  text-decoration: none;
}
footer a:hover {
  color: rgba(256, 256, 256, 0.5);
}

.background {
  background: #9b59b6;
  background: linear-gradient(to top left, #9b59b6, #f39c12);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -100;
}

.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}






    




























